* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    margin: 50px auto;
}

.box {
    display: inline-flex;
    padding: 10px;
    border: 2px solid silver;
    
}

.box-item {
    cursor: pointer;
    padding: 10px;
    border: 2px solid silver;
    margin: 5px;
    
}

.active {
    border-color: red;
}

.prev,
.next {
    background: orange;
}